@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
}

#body {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#showproblems {
    background: linear-gradient(135deg, rgb(34, 230, 60), rgb(190, 190, 91));
    /* background: rgb(97, 226, 83); */
    margin-left: 75%;
    margin-top: -100vh;
    height: 100vh;
    width: 24.8%;
    border-left: 2px solid black;
}

#board {
    background: rgb(163, 156, 156);
    border: 2px solid grey;
    width: 700px;
    height: 350px;
    border-radius: 9px;
    padding-top: 30px;
    padding-left: 30px;
}
#board:hover{
    background-color: whitesmoke;
}
#name1{
    margin-left: 100px;
    font-size: 30px;
    text-shadow: 2px grey;
    font-weight: 800;
}
#introduction{
    padding-right: 10px;
}

#introduction ul{
    overflow-y: scroll;
}

#intro{
    padding-left: 16px;
}

#typename{
    margin-top:20px;
    margin-left: 19%;
    font-size: 30px;
}

#typename input {
    box-shadow: 1px 1px 1px 1px grey;
    font-size: 20px;
    background-color: rgb(219, 213, 213);
    width: 585px;
    height: 40px;
    margin-top: 75px;
    margin-left: -80px;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 4px;
}

#typename input:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}

#callByName {
    display: none;
    float: right;
    margin-right: 0px;
    margin-top: -45px;
    background-color: rgb(0, 0, 0);
    border: 8px solid white;
    border-radius: 5px;
    min-width: max-content;
    min-height: 16px;
    color: black;
    text-transform: uppercase;
}

#countdown {
    float: left;
    margin-left: -30px;
    margin-top: -29px;
    background-color: rgb(255, 255, 255);
    border: 8px solid white;
    border-radius: 5px;
    min-width: max-content;
    min-height: 16px;
    color: black;
    text-transform: uppercase;
}

#intro {
    text-transform: uppercase;
    color: red;
    font-weight: 950;
    font-size: 16px;
    margin-top: -12px;
    margin-bottom: 20px;
}

ul {
    color: black;
    margin-top: -10px;
    margin-left: 30px;
}

ul li {
    margin-top: 10px;
}

.title {
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: rgb(38, 230, 63);
    border-radius: 50px;
}

#board span {
    font-weight: 900;
}

input {
    margin-top: 20px;
    margin-left: 40px;
}
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, .4);
  --btn-color: hsl(210, 80%, 42%);
  --bg-color: #141218;
}
button {
   margin-left: 110px;
   margin-top: 28px;

  position:relative;
  padding: 5px 10px;  
  border: none;
  background: none;
  cursor: pointer;
  
  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;  
  color: var(--text-color);
  
  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 4px; 
  z-index: 0;  
  overflow: hidden;   
   
}
#button:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
button:focus {
    outline-color: transparent;
    box-shadow: var(--btn-color) 2px 2px 22px;
  }
  .right::after, button::after {
    content: var(--content);
    display: block;
    position: absolute;
    white-space: nowrap;
    padding: 40px 40px;
    pointer-events:none;
  } 
  button::after{
    font-weight: 200;
    top: -30px;
    left: -20px;
  } 
   .right, .left {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .right {
    left: 66%;
  }
  .left {
    right: 66%;
  }
  .right::after {
    top: -30px;
    left: calc(-66% - 20px);
    
    background-color: var(--bg-color);
    color:transparent;
    transition: transform .4s ease-out;
    transform: translate(0, -90%) rotate(0deg)
  } 
   button:hover .right::after {
    transform: translate(0, -47%) rotate(0deg)
  }
  
  button .right:hover::after {
    transform: translate(0, -50%) rotate(-7deg)
  }
   
  button .left:hover ~ .right::after {
    transform: translate(0, -50%) rotate(7deg)
  }
button::before {
    content: '';
    pointer-events: none;
    opacity: .6;
    background:
      radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
      radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
      radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);
  
    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    position: absolute;
    animation: bubbles 5s linear infinite both;
  }
  @keyframes bubbles {
    from {
      transform: translate();
    }
    to {
      transform: translate(0, -66.666%);
    }
  }



#res div {
    margin-top: 8px;
    font-weight: 900;
}

#problems {
    margin-left: 110px;
    padding-top: 60px;
    color: black;
    font-weight: 700px;
    width: 60px;
    padding-left: 30px;
}

#problems div {
    background-color: white;
    margin-bottom: 25px;
    padding: 22px 22px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 900;
}

#problems div pre {
    margin-left: 4px;
}

#befres {
    margin-left: 10px;
    margin-top: 20px;
}
/* code for error msg */
#errormsg{
    position: absolute;
    top:-40px;
    left:0;
    right:0;
    margin:0 auto;
    width:max-content;
    font-size: 12px !important;
    padding:10px 15px;
    border:2px solid red;
    border-radius: 8px;
    background:white;
    box-shadow: 3px 3px 0px 0px rgba(255, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap:1rem;
    transform: scale(0);
    transition:.3s ease-in-out;
}

#errormsg span{
    color:red;
    font-size: 12px !important;
}

#errormsg.show{
    top:40px;
    transform: scale(1)
}

/* code end */

@media only screen and (max-width:1200px) {
    * {
        font-size: 12px;
    }

    #body {
        width: 100vw !important;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
        /* margin-left: -27px;
        margin-top: -50px; */
        overflow: hidden;
        height: 100vh;
    }

    #showproblems {
        max-width: 0;
    }

    #board {
        background: white;
        width: min(100%-50px,65vmin);
        height: 40vh;
        border-radius: 9px;
        padding: 15px;
    }

    #showproblems,
    #problems,
    #statuss {
        all: none;
        width: 0;
        height: 0;
        visibility: hidden;
        display: none !important;
    }

    .title {
        background-color: transparent;
    }

    #username {
        max-width: 200px;
    }

    #typename div {
        font-size: 20px;
    }

    #intro {
        margin-top:0px;
    }

    #countdown {
        margin-left: 15px;
        margin-bottom: 50px;
        margin-bottom:-2px !important;
    }

    #callByName {
        margin-right: -1px;
        margin-bottom:-2px !important;
    }

    #q1,
    #q2,
    #q3,
    #q4,
    #q5 {
        overflow: hidden;
    }

    #befres button {
        max-width: 52px;
    }

    #q1 button,
    #q2 button,
    #q3 button,
    #q4 button,
    #q5 button {
        margin-left:5px;
    }
}